<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>CUIP: Smart Corridor Object Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>

<body>
  <p id="routes" style="display: None">{{routes}}</p>

  <center>
    <div class="ui center aligned segment">
      <div class="ui center aligned four wide stackable grid">
        <div class="ui row" id="grid"></div>
      </div>
    </div>
  </center>

  <script>
    colors = ["red", "orange", "yellow", "olive", "green", "teal", "blue", "violet", "purple", "pink"]
    routes = JSON.parse(document.getElementById("routes").innerText)
    for (var route in routes) {
      var parent = document.createElement("a");
      parent.href = routes[route];
      var el = document.createElement("div");
      el.className = "ui " + colors[route % colors.length] + " button";
      el.innerHTML = routes[route];
      el.style = "margin-top: 1em;"
      parent.appendChild(el);
      document.getElementById("grid").appendChild(parent);
    }
  </script>
</body>

</html>